.v-mainContent{
    @extend %v-mainContent;
    .mainComponentModuleGroup{
        @extend %mainComponentModuleGroup;

        //Left select area
        .mainComponentModuleLeft{
            border-top: 8px solid #ef3b24;
            background-color: #f2f7fa;
            overflow: hidden;
            .fnsArea{
                width: 20px;
                height: 100%;
                background-color: #071821;
                float: left;
            }
            .componentsArea{
                float: left;
                width: calc(100% - 20px);
                >h4{
                    margin: 10px;
                    padding-left: 10px;
                    color: #a1a1a1;
                    font-size: 20px;
                    line-height: 28px;
                    height: 28px;
                }
                ul{
                    list-style-type: none;
                    li{
                        width: 100%;
                        height: 60px;
                        transition: all 0.3s;
                        // position: relative;
                        &:hover{
                            background-color: #0c1d25;
                            opacity: 0.8;
                            a{
                                color: white;
                            }
                        }
                        &.active{
                            // background-color: #132f3e;
                            background-color: #0c1d25;
                            pointer-events: none;
                            // border-bottom-right-radius: 15px;
                            // border-top-right-radius: 15px;
                            // box-shadow: 2px 2px 2px rgba(20%,20%,40%,0.5);
                            // z-index: 1;
                            // transform: translateX(5px);
                            a{
                                color: white;
                            }
                        }
                        &.lock{
                            background-color: #a1a1a1;
                            position: relative;
                            &::before{
                                content: "";
                                width: 40px;
                                height: 40px;
                                display: block;
                                background-image: url("../images/icon-04-2.png");
                                background-size: contain;
                                position: absolute;
                                top: 10px;
                                right: 30px;
                            }
                            a{
                                color: black;
                            }
                            &:hover{
                                background-color: #0c1d25;
                                opacity: 0.8;
                                a{
                                    color: white;
                                }
                            }
                        }
                        &.lock.active{
                            background-color: #0c1d25;
                            pointer-events: none;
                            a{
                                color: white;
                            }
                        }
                        a{
                            display: block;
                            color: #4d6f80;
                            font-size: 18px;
                            line-height: 60px;
                            padding-left: 20px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        //Right step module area
        .mainComponentModuleRight{
            padding: 0 15px;
            overflow: hidden;
            >h1{
                font-size: 28px;
                margin: 13px 0 20px 0;
                line-height: 30px;
                color: #a1a1a1;
                font-weight: normal;
            }
            .ModuleRightBtnArea{
                margin-bottom: 16px;
                .saveBtn{
                    padding: 3px 6px;
                    background-color: #e9ecef;
                    border: 1px solid #ced4da;
                    color: #495057;
                    margin-left: 5px;
                    // &:first-child{
                    //     margin-left: 0px;
                    //     margin-right: 20px;
                    //     border-top-right-radius: 4px;
                    //     border-bottom-right-radius: 4px;
                    // }
                    &:hover{
                        background-color: #b6b7b8
                    }
                    img{
                        width: 25px;
                        margin-left: 5px;
                    }
                }
            }
            .stepGroupMain{
                position: relative;
                .stepGroup{
                    width: 100%;
                    transition: all 1s;
                    .workflowStepArea{
                        // transition: all 1s;
                        // &.removeDom{
                        //     animation-name: removeDom;
                        //     animation-duration:1s;
                        // }
                        // @keyframes removeDom{
                        //     from{
                        //         opacity: 1;
                        //     }
                        //     to{
                        //         opacity: 0;
                        //         transform: translateX(-60px);
                        //     }
                        // }
                        >div.col-3,div.col-4,div.col-5,div.col-6{
                            height: 160px;
                            transition: all 1s;
                            /*&:nth-child(odd){
                                background-color: #4d6f80;
                            }
                            background-color: #ef3b24;*/
                        }
                        .workflowBlock{
                            width: 100%;
                            height: 160px;
                            text-align: center;
                            &.notIsEditStep{
                                opacity: 0.7;
                                pointer-events: none;
                            }

                            >div.isEditStep{
                                pointer-events: none;
                                
                                transform: scale(1.2);
                            }
                            >div.description{
                                height: 100px;
                                margin: 0;
                                background-color: pink;
                                font-size: 18px;
                                font-weight: bold;
                                letter-spacing: 0.05em;
                                color: white;
                                border: 1px solid #4d6f80;
                                display: flex;
                                align-items: center;
                                justify-content:center;
                                box-shadow: 2px 2px 6px rgb(155, 155, 155);
                                cursor: pointer;
                                transition: all 0.5s;
                            }
                            >span.arrow1{
                                display: block;
                                width: 10px;
                                height: 10px;
                                background-color: #ef3b24;;
                                margin: 0 auto;
                                margin-top: 10px;
                                transition: all 0.5s;
                                &.isEditStep{
                                    margin-top: 15px;
                                }
                            }
                            >span.arrow2{
                                width: 30px;
                                height: 30px;
                                // margin: 10px auto;

                                border-right: 15px solid transparent;
                                border-left: 15px solid transparent;
                                border-top: 30px solid #ef3b24;
                                display:inline-block;
                            }
                        }
                        .cube .description{
                            // border-radius: 5px;
                        }
                        .round .description{
                            border-radius: 190px/50px;
                        }
                        .diamond .description{
                            clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
                        }
                    }
                }
            }
            
            .stepGroup.isOpeingFile{
                width: 50%;
            }

            .mainComponentModuleRightSetting{
                width: 50%;
                min-height: 300px;
                background-color: #f2f7fa;
                border-left: 6px solid #ef3b24;
                float: left;
                transition: all 1s;
                transform: translateX(100%);
                opacity: 0;
                position: absolute;
                right: 0;
                top: 0;
                box-shadow: 3px 3px 9px #ccc;
                >h1{
                    color: #132f3e;
                    font-weight: bold;
                    margin-top: 25px;
                    margin-left: 25px;
                    margin-bottom: 25px;
                }
                .content{
                    width: 90%;
                    margin: 0 auto;

                    .btnArea{
                        width: 93%;
                        margin: 0 auto;
                        margin-top: 20px;
                        overflow: hidden;
                        >div{
                            float: right;
                        }
                    }
                }
            }
            .mainComponentModuleRightSetting.isOpeingFile{
                transform: translateX(0%);
                opacity: 1;
            }
        }
    }
}

.slide-enter-active,
.slide-leave-active {
    transition: transform .4s;
}

.slide-enter {
    transform: translateX(100%);
}

.slide-leave-to {
    transform: translateX(-100%);
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .4s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}